<div class="container">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;" >
    <img class="card-img-top" src="../../../assets/img/comment-faire-un-tacos.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tacos - Extra Pizza</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Commander</a>
    </div>
  </div>

</div>
